.text{
    margin-top: 30px;
    margin-right: 20px;
}

.text_title{
        color: gray;
        font-weight: bolder;
}

.text_left{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.user_info{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.user_info > textarea{
    box-sizing: border-box;
    background-color: #ffffff24;
    border: none;
    border-radius: 4px;
    padding: 12px;
    /* padding-right: 120px; */
    margin-bottom: 15px;
    color: white;
    outline: none;
    font-size: 15px;
    width: 100%;
}

.user_name{
    color: gray;
    font-size: 15px;
    font-weight: bold;
}
.text_user{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.send{
    color: gray;
    font-weight: bold;
    background: 0;
    border: 0;
}

.send:hover{
    color: white;
    cursor: pointer;
}

.avatar{
    margin-right: 10px;
}

.text_reply{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}