.auth{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 50px 0px 50px ;
}

.auth_left{
    flex: 0.5;
    text-align: center;
}

.auth_right{
    flex: 0.5;
    text-align: center;
}

.auth_left > img{
    width: 700px;
    margin-top: 40px;
}

.auth_more{
    border: 1px solid gray;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.auth_more > span{
    font-weight: 500;
    font-size: 14px;
}

.auth_more > span > button{
    background: 0;
    color: #0095f6;
    font-weight: bolder;
    border: 0;
}

.auth_more > span > button:hover{
    cursor: pointer;
}
